[submodule "lib/libc++/upstream"]
	path = lib/libc++/upstream
	url = https://github.com/llvm-mirror/libcxx.git
	branch = release_90
[submodule "externals/binaryen"]
	path = externals/binaryen
	url = https://github.com/colinandzxx/binaryen.git
	branch = asm2wasm-import-wasm-mem
[submodule "lib/musl/upstream"]
	path = lib/musl/upstream
	url = https://github.com/jfbastien/musl.git
	branch = wasm-prototype-1
